# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dev-dist
*.local

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PWA
sw.js
workbox-*.js

# TypeScript
*.tsbuildinfo
